@{
    Dictionary<string, string> refList = new Dictionary<string, string>();
    refList.Add("Home", "/");
    refList.Add("Persons", "/Persons/Show");
    refList.Add("Share", "/Share");
    refList.Add("Test", "/test/666");
    refList.Add("DB", "/db");
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/styles.css"/>
    <meta charset="utf-8">
    <meta name="author" content="NickyParsons"/>
    <title>NickyParsons Site | @ViewBag.Title</title>
</head>
<body>
    <header>
        <h2>HEADER</h2>
        <div id="header">
            <div class="menu" id="logon">
                @if (Model.Request.HttpContext.User.Identity.IsAuthenticated)
                {
                    <a href="/Logout">Logout</a>
                }
                else
                {
                    <text>
                        <a href="/Register">Register</a> |
                        <a href="/Login">Login</a> |
                    </text>
                }
            </div>
            <div class="menu">
                @foreach(var reference in refList)
                {
                    @if (reference.Key != "Home")
                    {
                        <text> | </text><a href="@reference.Value">@reference.Key</a>
                    }
                    else
                    {
                        <a href="@reference.Value">@reference.Key</a>
                    }
                }
            </div>
            <h3>@ViewBag.Title</h3>
        </div>
    </header>
    <main role="main">
        <h2>MAIN</h2>
        <div id="pageContent">
            @if (Model.Request.HttpContext.User.Identity.IsAuthenticated)
            {
                <p>User: @Model.Request.HttpContext.User.Identity.Name</p>
                <p>Role: @Model.Request.HttpContext.User.FindFirst(System.Security.Claims.ClaimsIdentity.DefaultRoleClaimType)</p>
                <p>AuthenticationType: @Model.Request.HttpContext.User.Identity.AuthenticationType</p>
            }
            @RenderBody()
        </div>
    </main>
    <footer>
        <h2>FOOTER</h2>
        <div id="footer">
            <p>
                <address>
                    Telegram: <a href="https://t.me/NickyParsons">@@NickyParsons</a>.
                </address>
            </p>
            <p>
                Copyright © @DateTime.Now.Year
            </p>
        </div>
    </footer>
</body>
</html>